body {
  font-family: 'Muli', sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  color: #f4f4f4;
  background-color: #404040;
  text-align: center;
}

header {
  background-color: #0a2342;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  background: #0a2342;
  padding: 1rem 0;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #a8c6ff;
  text-decoration: none;
}

nav ul li a:hover {
  color: #ccc;
}

section {
  padding: 2rem;
}

h1, h2, h3 {
  font-weight: 700;
}

h2 {
  margin-bottom: 1rem;
}

ul, ol {
  text-align: left;
  display: inline-block;
}

footer {
  background-color: #0a2342;
  color: #f4f4f4;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 2rem;
}

th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #0a2342;
  color: white;
}

.paper-thumbnail {
  width: 200px;
  height: auto;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 1rem;
}

.content-container {
  max-width: 66.67%;
  margin: 0 auto;
}

.publication {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  margin-bottom: 2rem;
}

.publication-info {
  flex: 1;
  margin-right: 1rem;
}

.publication-thumbnail {
  width: auto;
  height: 200px;
}

a {
  color: #b0c4de;
}
